

.h33
{
    text-align: center;
    color: rgb(12, 12, 12);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*========================================================HOME=======================================================================*/
.span{
    font-weight: bold;
    color: cadetblue;
}
/*===================================================LAYOUT===================================================================================*/
.outletdiv{
    margin: 20px;
}

#docList
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
/*=======================================================Search PAGE================================================================================*/
#form2{
    margin-top: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-left: 32%;
    padding: 2rem;
    background-color: #F8F9FA;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.tbl{
    margin-top: 30px;
    text-align: center;
}
#searchimg{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/*=======================================================Search City PAGE================================================================================*/
#searchtable{
    width: 400px;
    height: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}
