

h1 
{
    text-align: center;
    color: rgb(12, 12, 12);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*========================================================HOME=======================================================================*/
.span{
    font-weight: bold;
    color: cadetblue;
}
/*===================================================LAYOUT===================================================================================*/
.outletdiv{
    margin: 20px;
}

#docList
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

